In [ ]:
!cd ../;  python setup.py install

In [ ]:

import json_eater
import urllib
import json
import pandas as pd
movies = urllib.request.urlopen("https://raw.githubusercontent.com/prust/wikipedia-movie-data/master/movies.json")
data = movies.read().decode('utf-8')
json_eater.eat(data, loc="./movies.pq")
pd.read_parquet("./movies.pq")

In [ ]:

!ls

In [ ]:
%time
res =

In [ ]:
data = '{"a" : "{\\"b\\": true}"}'

In [ ]:
json_eater.eat(data, target_json_path="/a", is_str_json=True, loc="./test.pq")

In [ ]:
pd.read_parquet("test.pq")

In [2]:
with open('./data.json') as f:
    data = f.read()

In [3]:
%time
json_eater.eat(data, loc="./hi.pq")

CPU times: user 2 µs, sys: 1 µs, total: 3 µs
Wall time: 7.15 µs

In [4]:
pd.read_parquet("./hi.pq")

,path,vuint,vint,vfloat,vstr,vbool
0,0/userId,NaN,NaN,NaN,db1378e1-dfed-4349-beae-6a179745898f,None
1,0/datatrial,NaN,NaN,NaN,ai.doc.data.trial.epilepsy,None
2,0/createdAt,NaN,NaN,NaN,2019-04-17 21:16:38,None
3,0/updatedAt,NaN,NaN,NaN,2019-04-17 21:16:38,None
4,0/parsed_result/consentFlow/questions/is18OrOlder,NaN,NaN,NaN,Yes,None
...,...,...,...,...,...,...
1790,6/parsed_result/consentFlow/consent/consent,NaN,NaN,NaN,None,True
1791,6/parsed_result/consentFlow/consent/consentDate,NaN,NaN,NaN,2020-05-22T22:05:11.859Z,None
1792,6/parsed_result/consentFlow/consent/timeZone,NaN,NaN,NaN,America/New_York,None
1793,6/email,NaN,NaN,NaN,wixigi7792@chordmi.com,None
1794,6/fullName,NaN,NaN,NaN,Mario Vi,None